<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
          <h1 class="cover-heading">Aparat Krzyżowy</h1>
        <div class="form-group ">
          <input type="text" [(ngModel)]="user" placeholder="Enter user...">
        </div>
        <div class="form-group">
          <input type="password" [(ngModel)]="pass" placeholder="Enter password...">
        </div>
        <button type="submit" (click)="Login(user, pass)" class="btn-success btn-md">Login</button>
        <button type="submit" (click)="Register(user, pass)" class="btn-primary btn-md">Register</button>
      </div>
    </div>
  </div>
</div>