<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Aparat Krzyżowy</h1>
        <p class="lead">Projekt zrealizowany w ramach przedmiotu Sieci komputerowe i bazy danych</p>
        <p class="lead">
          <a routerLink="/click-game" class="btn btn-lg btn-secondary">Start first game</a>
        </p>
        <p class="lead">
          <a routerLink="/click-game2" class="btn btn-lg btn-secondary">Start second game</a>
        </p>
        <p class="lead">
          <a routerLink="/ladder" class="btn btn-lg btn-secondary">Results</a>
        </p>
        <button routerLink="/login" class="btn-danger">Logout</button>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <h6> Current user: <code>{{LoggedUser}}</code></h6>
        </div>
      </div>

    </div>

  </div>

</div>