<div style="margin: 0 auto; width: 45%; font-size: 43px;">
  <ol>
    <li *ngFor="let user of userData"> User: {{user.user}}, Games: {{user.played}}, Points: {{user.points}}</li>
    </ol>
    <button routerLink="/menu" class="btn-danger">Back</button>
</div>
