<div class="game-wrap">
  <div class="row buttons">
    <div class="col-md-1">
      <div class="grid mid">
        <div class="grid-row" *ngFor='let row of rows'>
          <div class="grid-col">
            <app-buttons [row]="row" [primary]="true" (click)='btnClick($event)'></app-buttons>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1">
      <div class="grid top">
        <div class="grid-row" *ngFor='let row of rows'>
          <div class="grid-col">
            <app-buttons [row]="row" [primary]="false" (click)='btnClick($event)'></app-buttons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="score-wrap text-uppercase text-center">


  <div class="row">
    <div class="col">
      <p> Time
        <span id="time">{{ time }}</span>
      </p>

    </div>
    <div class="col">
      <p>Hits
        <span id="score">{{ hits }}</span>
      </p>
    </div>
    <div class="col">
      <p> Misses
        <span id="misses">{{ misses }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="Refresh()" class="btn-success">Restart</button>
      <button routerLink="/menu" class="btn-danger">Exit</button>
    </div>
  </div>
</div>

<div *ngIf="!Timer" class="game-over">
  <h1>No time left</h1>
</div>